.dropdown {
  padding: 8px 12px;
  padding-bottom: 10px;
  border: 2px solid black;
  border-radius: 8px;
  background-color: #fff;
  font-size: 14px;
  color: #333;
  outline: none;
  cursor: pointer;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  width: 40%;
}

.dropdown:focus {
  border-color: #2563eb;
  box-shadow: 0 0 6px rgba(37, 99, 235, 0.4);
}

.invite-btn {
margin-top: 10px;
  margin-left: 12px;
  padding: 8px 14px;
  background-color: #4BB543;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.invite-btn:hover {
  background-color: rgb(117, 194, 117);
}
